.common-info-block {
    background-color:white;
    border-radius:3px;
    width:inherit;
    height:auto;
}

.common-info-block-text {
    padding:5px;
    font-size:medium;
    font-style:normal;
    font-family:'Lucida';
    color:gray;
}

a.nav-bar-link {
text-decoration:none;
}
.nav-bar-link {
    font-size:15px;
    text-decoration:none;
    margin-top:20px;
}
