#write-post-container {
    text-align:center;
}
    #write-post-container:hover {
        cursor:pointer;
    }
textarea {
    max-width:none;
    max-height:none;
    border:none;
    width:100%;
    resize:none;  
}


.error-message {
    color:darkred;
    padding:5px;
    font-size:medium;
    font-style:normal;
    font-family:'Lucida';
}

h4 {
    text-align:center;
}