#write-post-container {
    text-align:center;
}
    #write-post-container:hover {
        cursor:pointer;
    }
textarea {
    max-width:none;
    max-height:none;
    border:none;
    width:100%;
    resize:none;  
}

.hashtags-container {
    width:100%;
    height:auto;
}

input[name="Hashtags"] {
    border-radius:3px;
    border:1px solid gray;
    background-color:whitesmoke;
    width:150px;
    height:20px;
    margin:2px;
    padding:2px;
    padding-left:3px;
}

.error-message {
    color:darkred;
    padding:5px;
    font-size:medium;
    font-style:normal;
    font-family:'Lucida';
}
