
<div class="dataBlock">
<div class="row">

    <div class="col-md-6">
<select id="filter">
    <option value="PostsByMarks">Posts by marks</option>
    <option value="PostsByMyStatistics">Posts by my profile statistics</option>
    <option value="ProfilesByMarks">Profiles by marks</option>
    <option value="ProfilesByMyStatistics">Profiles by my statistics</option>
</select>
        </div>
    <div class="col-md-5" id="marksContainer">
        <h3 style="text-align:left;">Marks <a onclick="searching.addHashtag()"><span class="glyphicon glyphicon-plus"></span></a></h3>
    </div>
    </div>
    <br>
  <div class="row">
        <div class="col-md-12">
            <button class="btn btn-success searchButton" onclick="searching.findContent()">Search</button>
            </div>
        </div>

    <br><hr><br>

    <div id="partialsPlace">
       <h4>There are no info</h4>
    </div>

    </div>


<script>
    var searching = function () {
        var totalMarksCount = 0;

        var result = {};
        result.addHashtag = function () {
            var marksContainer = $('#marksContainer');
            var newId = 'markContainer' + totalMarksCount;
            var removeElement = 'removeSpan' + totalMarksCount;
            var removingBr = 'br' + totalMarksCount;

            var appendString = "";
            appendString += '<input type="text" class="searchingHashtag" name="mark" id=' + newId + '>';
            appendString += '<a id=' + removeElement + '><span class="glyphicon glyphicon-remove"></span></a>';
            

            marksContainer.append(appendString);

            $('#' + removeElement).click(function () {
                var removingRowId = $('#' + newId);            
                removingRowId.remove();
                $('#' + removeElement).remove();
            });
            totalMarksCount++;
        };

        result.showSelection = function () {
            alert($('#filter option:selected').val());
            
            var arr = [];

            $('input[name="mark"]').each(function () {
                arr.push($(this).val());
            });

           
        };

        result.findContent = function () {
            var marksCollection = [];
            $('input[name="mark"]').each(function () {
                marksCollection.push($(this).val());
            });
            var searchingType = "";
            var selectedElement = $('#filter option:selected').val();
            
            switch(selectedElement){
                case "PostsByMarks" : searchingType = "marks";break;
                case "PostsByMyStatistics":searchingType = "default";break;

            }

            if(selectedElement == "PostsByMarks" || selectedElement == "PostsByMyStatistics"){

                $.ajax({
                    type: 'POST',
                    url: "/Search/FindPosts",
                    data: { "hashtags": marksCollection,"searchingType": searchingType},
                    success: function (result) {
                        alert(result);
                    }
                });
            }


        };

        return result;
    }();

    </script>



<style>



    .searchingHashtag {
    background-color:lightgreen;
    border-radius:3px;
    border:1px solid gray;
    text-align:center;
    padding-left:5px;
    padding-right:5px;
    font-family:'Lucida';
    font-size:medium;
    font-style:normal;
    width:250px;
    height:auto;
    color:black;
    margin-left:3px; 
}

    select {
        width: 100%;
        height: auto;
        border: 1px solid gray;
        background-color: white;
        border-radius: 3px;
        padding: 5px;
        font-size:large;
        font-style: normal;
        font-family: 'Lucida';
        color: black;
        text-align:center;
    }

    .searchButton {
        width: 100%;
    }

    input[type="submit"] {
        font-size: large;
        padding: 3px;
        border: 1px solid gray;
        background-color: lightgray;
    }

    .dataBlock {
        width: inherit;
        height: auto;
    }

    .some-class {
        padding: 10px;
        width: inherit;
        height: auto;
        text-align: center;
        background-color: aqua;
    }

    h4 {
        text-align: center;
    }
    h3 {
        margin-top:0px;
        text-align:center;
    }
    hr {
        margin: 2px;
    }

    .selectedElement {
        background-color: lightgreen;
    }
</style>