<script src="~/Scripts/Searching.js"></script>
<div class="dataBlock">
    <div class="row">

        <div class="col-md-6">
            <select id="filter">
                <option value="PostsByMarks">Posts by marks</option>
                <option value="PostsByMyStatistics">Posts by my profile statistics</option>
                <option value="ProfilesByMarks">Profiles by marks</option>
                <option value="ProfilesByMyStatistics">Profiles by my statistics</option>
            </select>
        </div>
        <div class="col-md-5" id="marksContainer">
            <h3 style="text-align:center;">Marks <a onclick="searching.addHashtag()"><span class="glyphicon glyphicon-plus" style="color:lightblue;"></span></a></h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-info searchButton" onclick="searching.findContent()">Search</button>
        </div>
    </div>

    <br><br>
</div>

    <div id="dataPlace" class="dataBlock">
    </div>
    <br>


<div id="statisticsModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:40%;">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Statistics</h4>
            </div>
            <div class="modal-body" id="modalStatisticsBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


    <br>



<style>
     canvas {
        width:200px;
        height:200px;
    }

    .h4LowMarginBottom {
        margin-bottom:1px;
    }
    .h4InlineBlock {
        display:inline-block;
    }
    .h4AlignLeft {
        text-align:left;
    }
    .lowHrMargine {
        margin-top:0px;
        margin-bottom:2px;
    }


    .searchingHashtag {
    background-color:lightblue;
    border-radius:3px;
    border:1px solid gray;
    text-align:center;
    padding-left:5px;
    padding-right:5px;
    font-family:'Lucida';
    font-size:medium;
    font-style:normal;
    width:290px;
    height:auto;
    color:black;
    margin-left:3px;
}

    select {
        width: 100%;
        height: auto;
        border: 1px solid gray;
        background-color: white;
        border-radius: 3px;
        padding: 5px;
        font-size:large;
        font-style: normal;
        font-family: 'Lucida';
        color: black;
        text-align:center;
        background-color:lightblue;
    }

    .searchButton {
        width: 100%;
    }

    input[type="submit"] {
        font-size: large;
        padding: 3px;
        border: 1px solid gray;
        background-color: lightgray;
    }

    .dataBlock {
        width: inherit;
        height: auto;
    }

    .some-class {
        padding: 10px;
        width: inherit;
        height: auto;
        text-align: center;
        background-color: aqua;
    }

    h4 {
        text-align: center;
    }
    h3 {
        margin-top:0px;
        text-align:center;
    }

    .selectedElement {
        background-color: lightgreen;
    }
</style>