
<div class="dataBlock">
    <div class="row">

        <div class="col-md-6">
            <select id="filter">
                <option value="PostsByMarks">Posts by marks</option>
                <option value="PostsByMyStatistics">Posts by my profile statistics</option>
                <option value="ProfilesByMarks">Profiles by marks</option>
                <option value="ProfilesByMyStatistics">Profiles by my statistics</option>
            </select>
        </div>
        <div class="col-md-5" id="marksContainer">
            <h3 style="text-align:center;">Marks <a onclick="searching.addHashtag()"><span class="glyphicon glyphicon-plus" style="color:lightblue;"></span></a></h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-info searchButton" onclick="searching.findContent()">Search</button>
        </div>
    </div>

    <br><br>
</div>

    <div id="dataPlace">
    </div>

    <br>

    <div class="common-info-block common-info-block-text" data-toggle="collapse" data-target="#dataBlockFirstId">
        <h4 class="h4LowMarginBottom">Zheka korsakas (korsakasPrgmail.com)</h4>
        </div>

<div class="common-info-block common-info-block-text">
        <div class="adaptiveContainer  collapse"  id="dataBlockFirstId" style="width:100%;"> <!--this div must be deleted when new statisics is rendered-->
            <hr class="lowHrMargine"/>
            <h4>Date of birth : 1235-2-2</h4>
            <h4>Followers : 12</h4>
            <h4>Subscriptions : 12</h4>
            <hr class="lowHrMargine"/>

            <h4>Status</h4>
            <h4>Some status hereSome</h4>

            <hr class="lowHrMargine"/>
            
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <button class="btn btn-default searchButton common-info-block-text"><h5>Show publications</h5></button>
                </div>
            </div>

         </div>
    </div>
<br>
    <div class="adaptiveContainer" id="publicationsContainer1"> 
    </div>



    <br>


<script>
    var searching = function () {
        var totalMarksCount = 0;
        var result = {};

        var profileBlockInfo = 0;
        var profileBlockInfoId = 'profileBlockInfo' + profileBlockInfo;
        var profilePublicationsContainerId = 'profilePublicationsContainer' + profileBlockInfo;

        function getPublications(identityName, publicationsPlaceId) {
            
            $.ajax({
                type: 'POST',
                url: '/Post/Publications',
                data: { "identityName": identityName, "postType": "publications" },
                success: function (jsonResult) {
                    var result = JSON.parse(jsonResult);
                    var publicationsPlace = $('#' + publicationsPlaceId);
                    publicationsPlace.html("");
                    for (var i = 0; i < result.length; i++) {
                        publicationsPlace.append(common.createPostContainer(result));
                    }
                }
            });
        }

        function createProfileContainer(profileData) {
            var container = "";
            container += '<div class="common-info-block common-info-block-text" data-toggle="collapse" data-target="' + profileBlockInfoId + '">';
            container += '<h4 class="h4LowMarginBottom">'+profileData["Name"]+" "+profileData["Sername"]+" ("+profileData["IdentityName"]+')</h4>'
            container += '</div>';

           container += '<div class="common-info-block common-info-block-text">';
           container += '<div class="adaptiveContainer  collapse"  id="' + profileBlockInfoId + '" style="width:100%;">';

             container += '<hr class="lowHrMargine"/>';
             container += '<h4>Date of birth : ' + profileData["DateOfBirth"] + '</h4>';
             container += '<h4>Followers : ' + profileData["Followers"].length + '</h4>';
             container += '<h4>Subscriptions : '+profileData["Subscriptions"].length+'</h4>';
             container += '<hr class="lowHrMargine"/>';
             container += '<h4>Status</h4>';
             container += '<h4>'+profileData["CustomInfo"]+'</h4>';
             container += '<hr class="lowHrMargine"/>';

             container += '<div class="row">';
             container += '<div class="col-md-10 col-md-offset-1">';
             container += '<button class="btn btn-default searchButton common-info-block-text" onclick="getPublications('+profileData["IdentityName"]+','+profilePublicationsContainerId+')">';
             container += '<h5>Show publications</h5>';
             container += '</button>';
             container += '</div></div>';

            container += '</div>';
            container += '</div>';
            container += '<br>';
            container += '<div class="adaptiveContainer" id="' + profilePublicationsContainerId + '">';
            container += '</div>';

            profileBlockInfo++;
            return container;
        }

        result.addHashtag = function () {
            var marksContainer = $('#marksContainer');
            var newId = 'markContainer' + totalMarksCount;
            var removeElement = 'removeSpan' + totalMarksCount;
            var removingBr = 'br' + totalMarksCount;

            var appendString = "";
            appendString += '<input type="text" class="searchingHashtag" name="mark" id=' + newId + '>';
            appendString += '<a id=' + removeElement + '><span class="glyphicon glyphicon-remove"></span></a>';


            marksContainer.append(appendString);

            $('#' + removeElement).click(function () {
                var removingRowId = $('#' + newId);
                removingRowId.remove();
                $('#' + removeElement).remove();
            });
            totalMarksCount++;
        };

        result.showSelection = function () {
            alert($('#filter option:selected').val());

            var arr = [];

            $('input[name="mark"]').each(function () {
                arr.push($(this).val());
            });


        };

        result.findContent = function () {
            var marksCollection = [];
            $('input[name="mark"]').each(function () {
                marksCollection.push($(this).val());
            });
            var searchingType = "";
            var selectedElement = $('#filter option:selected').val();

            switch(selectedElement){
                case "PostsByMarks" : searchingType = "PostsByMarks";break;
                case "PostsByMyStatistics": searchingType = "PostsByDefault"; break;
                case "ProfilesByMarks": searchingType = "ProfilesByMarks"; break;
                case "ProfilesByMyStatistics": searchingType = "ProfilesByDefault"; break;

            }

            var dataPlace = $('#dataPlace');
            var url = "";
            var lengthZeroError = "";
            var handler = null;

            if (selectedElement == "PostsByMarks" || selectedElement == "PostsByMyStatistics") {
                url = "/Search/FindPosts";
                lengthZeroError = '<h4>There are no posts found</h4>';
                handler = common.createPostContainer;
            }

            if (selectedElement == "ProfilesByMarks" || selectedElement == "ProfilesByMyStatistics") {
                url = "/Search/FindProfiles";
                lengthZeroError = '<h4>There are no profiles found</h4>';
                handler = createProfileContainer;
            }


                $.ajax({
                    type: 'POST',
                    url: url,
                    data: { "hashtags": marksCollection,"searchingType": searchingType},
                    success: function (jsonResult) {
                        result = JSON.parse(jsonResult);
                        alert(jsonResult);
                        /*if (result["errorMessage"]) {
                            dataPlace.html('<h4>' + result["errorMessage"] + '</h4>');
                            return;
                        }
                        if (result.length == 0) {
                            dataPlace.html(lengthZeroError);
                            return;
                        }

                        dataPlace.html("");
                        //dataPlace.append('<h4>'+selectedElement+'</h4>');
                        for (var i = 0; i < result.length; i++) {
                            dataPlace.append(handler(result[i]));
                        }*/
                    }
                });




        };

        return result;
    }();

    </script>



<style>
    .h4LowMarginBottom {
        margin-bottom:1px;
    }
    .h4InlineBlock {
        display:inline-block;
    }
    .h4AlignLeft {
        text-align:left;
    }
    .lowHrMargine {
        margin-top:0px;
        margin-bottom:2px;
    }

    #dataPlace {
        width:inherit;
      height:auto;
      position:relative;
    }

    .searchingHashtag {
    background-color:lightblue;
    border-radius:3px;
    border:1px solid gray;
    text-align:center;
    padding-left:5px;
    padding-right:5px;
    font-family:'Lucida';
    font-size:medium;
    font-style:normal;
    width:290px;
    height:auto;
    color:black;
    margin-left:3px;
}

    select {
        width: 100%;
        height: auto;
        border: 1px solid gray;
        background-color: white;
        border-radius: 3px;
        padding: 5px;
        font-size:large;
        font-style: normal;
        font-family: 'Lucida';
        color: black;
        text-align:center;
        background-color:lightblue;
    }

    .searchButton {
        width: 100%;
    }

    input[type="submit"] {
        font-size: large;
        padding: 3px;
        border: 1px solid gray;
        background-color: lightgray;
    }

    .dataBlock {
        width: inherit;
        height: auto;
    }

    .some-class {
        padding: 10px;
        width: inherit;
        height: auto;
        text-align: center;
        background-color: aqua;
    }

    h4 {
        text-align: center;
    }
    h3 {
        margin-top:0px;
        text-align:center;
    }

    .selectedElement {
        background-color: lightgreen;
    }
</style>