@model string
<div class="common-info-block" id="statisticsPlace">

    <div class="statistics-element common-info-block-text">
        <h4>Total publications count</h4>
        <h4 id="publicationsCount"></h4>
        <hr />

        <h4>All marks</h4>
        <div class="row">
            <div class="col-md-offset-2 col-md-8" id="allHashtags">
            </div>
        </div>
        <hr  style="margin-bottom:2px;"/>


        <div class="row" id="mostPopularMarksContainer">
            <h4>Most popular marks</h4>
            <div class="col-md-offset-2 col-md-8" id="popularHashtagsLegend">
            </div>
            <br><br>
            <div class="col-md-offset-2 col-md-8">
                <canvas id="mostPopularHashtags"></canvas>
            </div>
        </div>
        <hr />

        
        <div class="row" id="mostPopularMarksFrequenciesContainer">
            <h4>Most popular marks frequency (per week average)</h4>
            <div class="col-md-offset-2 col-md-8">
                <canvas id="mostPopularHashtagsFrequncies"></canvas>
            </div>
        </div>


    </div>
  </div>



<script>

    var colorsForCharts = ['lightgreen', 'lightblue', 'lightsalmon', 'lightseagreen', 'orange', 'tomato', 'olive'];
    //others will be like gray

    //here is functions,that reprepsents another date filters
    $(document).ready(function () {

        $.ajax({
            type: 'POST',
            url: '../Statistics/ProfileStatisticsData',
            data:{"identityName":'@Model'},
            success: function (jsonResult) {
                //alert(jsonResult);
                var result = JSON.parse(jsonResult);
                var allHashtags = $('#allHashtags');

                $('#publicationsCount').html(result["PublishedPostsCount"]);
                
                if (result["EachHashtagCount"].length == 0) {
                    allHashtags.html("<h4>There are no marks</h4>");
                    return;
                }
                               
                for (var i = 0; i < result["EachHashtagCount"].length; i++) {
                    allHashtags.append('<div class="hashtag">' + result["EachHashtagCount"][i]["Key"] + '<div>');
                }

                var mostPopularHashtagsData = [];
                var anotherHashtagsCount = 0;

                for (var i = 0; i < result["MostPopularHashtags"].length; i++) {
                    var obj = {};
                    obj.value = result["MostPopularHashtags"][i]["Value"];
                    obj.label = result["MostPopularHashtags"][i]["Key"];
                    obj.color = colorsForCharts[i];
                   
                    anotherHashtagsCount += obj.value;
                    mostPopularHashtagsData.push(obj);
                }
               

                //alert(mostPopularHashtagsData.length + " " + mostPopularHashtags[0].value );

               var legend = $('#popularHashtagsLegend');
               for(var i = 0;i<mostPopularHashtagsData.length;i++){
                   legend.append('<div class="legend-block" style="background-color:'+mostPopularHashtagsData[i].color+';">'+mostPopularHashtagsData[i].label+'</div>');
               }

              
               var mostPopularHashtagsMarksContext = document.getElementById('mostPopularHashtags').getContext('2d');
               var mostPopularMarksChart = new Chart(mostPopularHashtagsMarksContext).Pie(mostPopularHashtagsData);
                

                ////freq barchart
               var mostPopularHashtagsFrequenciesData = {
                   labels: [],
                   datasets: []
               };
               var obj = {//HERE MUST BE ANOTHER COLORS (FOR EACH COLOMN MUST BE EACH COLOR)
                   fillColor: ['chocolate'],
                   data: []
               };

               for (var i = 0; i < result["MostPopularHashtagsFrequencies"].length; i++) {
                   mostPopularHashtagsFrequenciesData.labels.push(result["MostPopularHashtagsFrequencies"][i]["Key"]);
                   obj.data.push(result["MostPopularHashtagsFrequencies"][i]["Value"]);
                   
               }
               mostPopularHashtagsFrequenciesData.datasets.push(obj);
              
               var mostPopularHashtagsFrequnciesContext = document.getElementById('mostPopularHashtagsFrequncies').getContext('2d');
               var newmostPopularHashtagsFrequnciesChart = new Chart(mostPopularHashtagsFrequnciesContext).Bar(mostPopularHashtagsFrequenciesData);
               mostPopularHashtagsFrequenciesData = {};


               
              /* $('#mostPopularMarksContainer').css("display", "unset");
               $('#mostPopularMarksFrequenciesContainer').css("display", "unset");*/

            }
        });
    });
    


    </script>

<style>
    .legend-block {
    border-radius:3px;
    border:1px solid gray;
    text-align:center;
    padding:2px;
    padding-left:5px;
    padding-right:5px;
    font-family:'Lucida';
    font-size:medium;
    font-style:normal;
    width:auto;
    height:auto;
    display:inline-block;
    color:black;
    margin-left:3px;
}

    .statistics-element {
        padding:10px;
        width:auto;
        height:auto;
        text-align:center;
    }
    h4 {
        text-align:center;
    }
    canvas {
        width:100%;
        height:200px;
    }
    li {
        text-decoration-style:none;
    }
    </style>