@model string

<script src="~/Scripts/Chart.js"></script>
<div class="common-info-block" id="statisticsPlace">

    <div class="statistics-element common-info-block-text">
        <h4>Total publications count</h4> 
        <h4 id="publicationsCount"></h4>
        <hr />

        <h4>All marks</h4>
        <div class="row">
            <div class="col-md-offset-2 col-md-8" id="allHashtags">
            </div>
        </div>
        <hr/>

        <style>
            .legend-block {
    border-radius:3px;
    border:1px solid gray;
    text-align:center;
    padding:2px;
    padding-left:5px;
    padding-right:5px;
    font-family:'Lucida';
    font-size:medium;
    font-style:normal;
    width:auto;
    height:auto;
    display:inline-block;
    color:black;
    margin-left:3px;
}
            </style>

        <h4>Most popular marks</h4>
        <div class="row">
            <div class="col-md-offset-2 col-md-8" id="popularHashtagsLegend">
                <div class="legend-block" style="background-color:lightblue;">SOme hashtags</div>
                <div class="legend-block" style="background-color:lightgreen;">SOme hashtags</div>
            </div>
            <div class="col-md-offset-2 col-md-8">
                <canvas id="mostPopularHashtags"></canvas>
            </div>
            </div>
        <hr/>

        <h4>Most popular marks frequency</h4>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <canvas id="barChart"></canvas>
            </div>
        </div>

    </div>
  
</div>


<script>
    var totalStatisticsContainersCount = 0;

    var colorsForCharts = ['lightgreen', 'lightblue', 'lightsalmon', 'orange', 'lightskyblue','olive','tomato'];
    //others will be like gray


    $(document).ready(function () {

        $.ajax({
            type: 'POST',
            url: '../Statistics/ProfileStatisticsData',
            data:{"identityName":'@Model'},
            success: function (jsonResult) {
                /*
                var result = JSON.parse(jsonResult);
                var mostPopularHashtagsData = [];
                var allHashtags = $('#allHashtags');

                $('#publicationsCount').html(result["PublishedPostsCount"]);
                
                if (result["EachHashtagCount"].length == 0) {
                    allHashtags.html("<h4>There are no marks</h4>");
                    //close the all next parts of statistics
                    return;
                }
                else {
                    for (var i = 0; i < result["EachHashtagCount"].length; i++) {
                        allHashtags.append('<div class="hashtag">' + result["EachHashtagCount"][i]["Key"] + '<div>');
                    }
                }

   
               for (var i = 0; i < result["MostPopularHashtags"].length; i++) {
                  //here fix colors 
                   mostPopularHashtagsData.push = {
                       value: result["MostPopularHashtags"][i]["Value"],
                       label: result["MostPopularHashtags"][i]["Key"],
                       color:colorsForCharts[i]
                   };
               }

               var legend = $('#popularHashtagsLegend');

               var mostPopularHashtagsMarksContext = document.getElementById('mostPopularHashtags').getContext('2d');
               var mostPopularMarksChart = new Chart(mostPopularHashtagsMarksContext).Pie(mostPopularHashtagsData);
                
                alert(jsonResult);*/
            }
        });

        

        var pieData = [
{
            value: 25,
    label: 'Dog',
    color: 'lightgreen'
},
{
            value: 10,
    label: 'Cat',
    color: 'lightblue'
},
{
            value: 30,
    label: 'Kitchen',
    color: 'lightsalmon'
},
{
            value: 50,
    label: 'others',
    color:'orange'
}
        ];
       //at the left side need to insert div with legend(by myself)
        var pieContext = document.getElementById('pieChart').getContext('2d');
        var newPieChart = new Chart(pieContext).Pie(pieData);


        var barData = {
            labels: ['Dog', 'Cat','Kitchen'],
            datasets: [
                {
                    fillColor: 'lightgreen',
                    data: [30, 40 , 50]
                },
                {
                    fillColor: 'lightblue',
                    data: [35, 50,60]
                }
            ]
        };
        var barContext = document.getElementById('barChart').getContext('2d');
        var newBarChart = new Chart(barContext).Bar(barData);
    });



    </script>

<style>
    .statistics-element {
        padding:10px;
        width:auto;
        height:auto;
        text-align:center;
    }
    h4 {
        text-align:center;
    }
    canvas {
        width:100%;
        height:auto;
    }
    li {
        text-decoration-style:none;
    }
    </style>